.send{
  background-color: #4277f3;
  border-radius: 5px;
  width: 100px;
  border: 1px solid #ececec;
  color: white;
  transition: color 0.3s ease;
  margin: 20px;
}
.send:hover{
  color: #ececec;
}
