.Subject{
  color:white;
  background-color: #4277f3;
  text-align: center;
  width: 100%;
  height: 12vw;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid #ececec;
  margin: 3vh 0 3vh 0;
}
